* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    color: #282828;
    /* font-family: arial, helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 50px;
}

header {
    background-color: rgb(235, 231, 8);
    box-shadow: 0 30px 15px rgba(73, 73, 68, 0.2);
}

.headline {
    color: #503780;
    font-size: 2em;
    padding: 30px;
    text-align: center;
}

.container {
    margin-top: 20px;
    text-align: center;
}

.counter-value {
    font-size: 8rem;
    font-weight: bold;
}

.button-container {
    margin-top: 10px;
}

.btn {
    background: transparent;
    border: 1px solid #9e9191;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(92, 78, 78, 0.2);
    cursor: pointer;
    font-weight: 700;
    padding: 12px;
    transition: all 0.2s linear;
}

.btn:hover {
    color: #fff;
    background: #f7aa04;
}